/*
* {
    outline: 2px solid red;
}
*/
:root {
    --text-color: whitesmoke;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: var(--text-color);
    font-size: 20px;
    line-height: 30px;

}

header, footer {
    border-radius: 25px;
    outline: 1px solid whitesmoke;
    margin: 15px;
    padding: 2px 0px;
}

.header-nav {
    text-align: center;
    overflow: hidden;
    margin-bottom: 15px;
    
}

.header-nav a, address a {
    color: var(--text-color)
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 20px;
}

.header-nav a:hover, address a {
    color: cornflowerblue;
}

/* unvisited link */
a.default-link:link {
    color: cornflowerblue;
    text-decoration: none;
  }

  
/* visited link */
a.default-link:visited {
    color: cornflowerblue;
    text-decoration: none;
  }
  
/* mouse over link */
  a.default-link:hover {
    color: darkslategray;
    text-decoration: underline;
  }
  
  /* selected link */
  a.default-link:active {
    color: darkgray;
  }


.about-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    max-height: 450px;
}

p, h1, h2, h3, small {
    text-align: center;
}

.about p {
    text-wrap: balance;
    padding: 20px;

}

small {
    color: yellow;
}


address {
    text-align: center;
    padding: 13px;
}
