
/*
* {
    outline: 2px solid red;
}
*/

:root {
    --text-color: whitesmoke;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: var(--text-color);
    font-size: 20px;
    line-height: 30px;

}

header {
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    outline: 1px solid whitesmoke;
    margin: 15px;
    
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-items {
    display: flex;
    gap: 40px;
}

li {
    list-style: none;
}

/* unvisited link */
a.default-link:link {
    color: cornflowerblue;
    text-decoration: none;
  }

a.menu-link:link {
    color: var(--text-color);
    text-decoration: none;
}
  
/* visited link */
a.default-link:visited {
    color: cornflowerblue;
    text-decoration: none;
  }

a.menu-link:visited {
    color: var(--text-color);
    text-decoration: none;
}
  
/* mouse over link */
  a.default-link:hover {
    color: darkslategray;
    text-decoration: underline;
  }

  a.menu-link:hover {
    color: var(--text-color);
    text-decoration: underline;
}
  
  /* selected link */
  a.default-link:active {
    color: darkgray;
  }

  a.menu-link:active {
    color: var(--text-color);
    text-decoration: none;
}


.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.about {
    font-weight: bolder;
    font-size: 30px;
}

.about-pic {
    max-width: 350px;
    max-height: 450px;
}

p {
    width: 800px;
    text-align: center;
}

.more-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

small {
    color: yellow;
}
/* Footer */

footer{
    border-radius: 25px;
    outline: 1px solid whitesmoke;
    margin: 15px;
    padding: 15px;
}

address {
    text-align: center;;
}
