h1, h2, h3, h4, #gavinmedeiros {
  font-weight: bold;
  color: lightgreen;
}

body {
  background-color: black;
  max-width: 40em;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace, serif;
  font-size: 22px;
  line-height: 1.6em;
  color: whitesmoke;

}

h2, h3 {
  text-decoration: underline;
}

.updated {
  font-style: italic;
  font-size: 14px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: whitesmoke;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: green;
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: whitesmoke;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: green;
  color: white;
}

a:link, a:visited {
  color: green;
  text-decoration: none;
}

a:hover{
  color: orangered;
  text-decoration: underline;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: darkslategray;
  color: whitesmoke;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.now {
  font-weight: bold;
  text-decoration: underline;
}

